header_left_padding = 35%


*
    padding: 0
    margin: 0

html, body
    height: 100%


.bg-image
    background-image: url("../files/img/bg-header.jpg")
    background-repeat: no-repeat
    background-position: center
    
    -webkit-background-size: cover
    -moz-background-size: cover
    background-size: cover

    height: 100%
    

.header {
    padding: 0
}


.logo_wrapper--logo
    padding-left: header_left_padding
    padding-top: 40px


.logo_wrapper--logo h1
    color: white



.header_label--label
    padding-left: header_left_padding
    padding-top: 200px
    
.header_label--label h1
    color: white
    font-size: 50pt
    line-height: 15%
    

.header_label--subheading
    padding-left: header_left_padding
    padding-top: 50px

.header_label--subheading p
    color: white
    font-size: 14pt
    line-height: 10%
    
  
.header_button--btn
    padding-left: header_left_padding
    padding-top: 40px

.header_button--btn a
    color: black
    background-color: white
    padding: 20px
    font-size: 14pt
    text-decoration: none
    
.header_button--btn a:link
    text-decoration: none
    color: black
.header_button--btn a:visited
    text-decoration: none
    color: black
.header_button--btn a:hover
    text-decoration: none
    color: #ff9100
.header_button--btn a:active
    text-decoration: none
    color: black

.content
    padding-top: 150px
    
.row--content--header
    margin: 0 auto
    padding-left: 450px
    
.content h3
    font-size: 30px
    font-weight: 700

.content--first_row, .content--second_row
    line-height: 1.3
    font-size: 20px
    
.content--header h1
    font-size: 4em
    line-height: 1
    font-weight: bold

.content--title h2
    font-size: 3em
        
.content--title p
    font-size: 1.5em

.content img
    width: 100%


.feeds
    position: relative
    overflow: hidden
    height: 100%

.img_right
    float: right
    height: 100%
    position: absolute
    bottom: 0
    right: -50px
    display: block
    max-width: 100%
    width: 44%
    


.content--first_row
    padding-left: 450px
    

.content--second_row
    padding-left: 450px
    

.feeds
    padding-top: 150px
    
.feeds container
    padding-left: 150px

.feeds h3
    font-size: 1.2em
    font-weight: bold

.feeds--header h1
    font-size: 4em
    font-weight: bold

.feeds--header h2
    font-size: 3em
    line-height: 1

.feeds--header p
    font-size: 1.5em


.subscribe
    font-size: 0
    
.subscribe input
    font-size: 12px

.subscribe .btn-submit
    background-color: #ff9100    
    color: white
    border: 0
    height: 100px
    width: 80px

    
.footer .contacts p, li, ul
    display: inline


.contacts a
    color: black
    

.contacts a:link
    color: black
.contacts a:visited
    color: black
.contacts a:hover
    color: black
.contacts a:active
    color: black
